This is an example notebook for raw data analysis on the RODI dataset

The purpose of analyzing the raw dataset is to explore the raw dataset and describe the necessary cleaning steps that need to be performed in the preprocessing script

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
data_path = Path("..", "data", "raw", "rodi")
data_path

PosixPath('../data/raw/rodi')

## Annotations

In [3]:
df = pd.read_csv(data_path / "Induced_Organism_Drift_2022_annotations.csv")
df

,id,annotation_id,class,order,family,image,ind_id
0,1671,3596,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame96_box0_r.png,ID1
1,1672,3597,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame97_box0_r.png,ID1
2,1673,3598,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame98_box0_r.png,ID1
3,1674,3599,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame99_box0_r.png,ID1
4,1675,3600,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame100_box1_r.png,ID1
...,...,...,...,...,...,...,...
4593,325,2251,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame386_box0_r.png,ID285
4594,326,2252,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame387_box0_r.png,ID285
4595,327,2253,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame388_box0_r.png,ID285
4596,328,2254,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame389_box0_r.png,ID285
4597,329,2255,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame390_box0_r.png,ID285

In [4]:
assert df.id.is_unique
assert  df.image.is_unique
df = df.set_index("id")
df

,annotation_id,class,order,family,image,ind_id
id,,,,,,
1671,3596,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame96_box0_r.png,ID1
1672,3597,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame97_box0_r.png,ID1
1673,3598,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame98_box0_r.png,ID1
1674,3599,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame99_box0_r.png,ID1
1675,3600,Insecta,Ephemeroptera,Baetidae,11052022_T1_20025419_file12_frame100_box1_r.png,ID1
...,...,...,...,...,...,...
325,2251,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame386_box0_r.png,ID285
326,2252,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame387_box0_r.png,ID285
327,2253,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame388_box0_r.png,ID285
328,2254,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame389_box0_r.png,ID285
329,2255,Insecta,Diptera,Diptera,11052022_T7_20025419_file30_frame390_box0_r.png,ID285

In [5]:
df.family.value_counts()

family
Baetidae          1300
Heptageniidae     1294
Capniidae          731
Rhyacophilidae     518
Diptera            388
Perlodidae         238
Salmonidae         129
Name: count, dtype: int64

In [6]:
df.ind_id.value_counts().describe()

count    285.000000
mean      16.133333
std        8.784777
min        1.000000
25%       11.000000
50%       16.000000
75%       19.000000
max       66.000000
Name: count, dtype: float64

## Images

In [7]:
img_path = data_path / "Induced_Organism_Drift_2022"

In [8]:
fpaths = [x for x in img_path.glob("*.png")]
len(fpaths)

4598

In [9]:
fnames = [x.name for x in fpaths]

In [10]:
# Check all images are in dataset
set(fnames) == set(df.image.values)

True